body
{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container
{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;    
    background-color: black;
    vertical-align: middle;
}

.item
{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.options
{
   display: flex;
   flex-direction: column;
   width: 20vw;
}
button
{
    flex-grow: 0;
    max-width: 140px;
}
#playArea
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 100px;
    align-items: start;
    gap: 20px;
}

label
{
    font-weight: bolder;
    font-size: 1.6em;
}